.success{
  display: inline-block;
  border-radius: 5px;
  border-style: solid;
  border-color: green;
  color: green;
  background-color: grey;
  font-size: 30px;
}

.error{
  display: inline-block;
  border-radius: 5px;
  border-style: solid;
  border-color: red;
  color: red;
  background-color: grey;
  font-size: 30px;
}